@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --bg-color: #312f25;
}

html {
    background-color: var(--bg-color);
    font-family: 'Share Tech Mono', monospace;
    color: #afafaf;

    /* background-image: url(https://99gifshop.neocities.org/items/new/smile.gif); */
    padding: 1%;
    color: #b38506;
}
hr {
    color: #b38506
}
b {
    font-size: 1.1em;
}
th {
    font-size: 1.5em;
    font-weight: bold;
}
td {
    width: 1%;
    vertical-align: top;
    margin: 1%;
    padding: 1%;

}
.nav {
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
}
.nav tr td {
   padding: 15px;
   margin: 15px;
}
.nav tr td a {
    color: black;
}
.nav td td a:hover{
    color: orange;
}
.btn {
    color: #292601;
    background-color: #8b8b8b;
    box-shadow: inset 5px 5px #b8b8b8, 0px 5px #797979, 5px 5px #797979;
    padding: 8px;
}
.btn:hover {
    color: #292601;
    background-color: #b3b3b3;
    box-shadow: inset 5px 5px #e9e9e9, 0px 5px #797979, 5px 5px #797979;
    padding: 8px;
}

h1 {
    text-align: center;
    margin: 2%;
}

h4 {
    text-align: center;
    margin: 2%;
}

.mainpagetab {
    width: 100%;
}

p {
    padding: 1%;
    margin: 2%;
}

::selection {
    background-color: orange;
    color: white;
}
a {
    color: #afafaf;
}
a:hover {
    color: orange;
}